@mixin make-flex($x-axis, $y-axis) {
    display: flex;
    @if ($x-axis != false) {
        justify-content: $x-axis;
    }
    @if ($y-axis != false) {
        align-items: $y-axis;
    }
}
@mixin make-main-link($linkbg, $linkAffterBg, $linkClr, $linkHoverClr) {
    display: block;
    border: 1px solid $linkClr;
    padding: 16px 60px;
    font-size: 22px;
    text-transform: capitalize;
    background-color: $linkbg;
    color: $linkClr;
    width: fit-content;
    margin: auto;
    transition: var(--main-transition);
    position: relative;
    z-index: 2;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 110%;
        background-color: $linkAffterBg;
        top: 0;
        z-index: -1;
        transform: translateX(10px);
        transition: var(--main-transition);
        transform: skewX(-23deg) translateX(-180%);
    }
    &:hover {
        color: $linkHoverClr;
        &::after {
            transform: skewX(-23deg) translateX(-50%);
        }
    }
    @media (min-width: 991.5px) {
        margin: 0;
    }
}
@mixin Make-main-article(
    $h2sizemobile: none,
    $h2desktop: none,
    $h2Clr: none,
    $h2Font: none,
    $h2Pattern: false,
    $psizemobile: none,
    $psizeDesktop: none,
    $pClr: none,
    $linkStatus: true,
    $linkbg: none,
    $linkAffterBg: none,
    $linkClr: none,
    $linkHoverClr: none
) {
    h2 {
        color: $h2Clr;
        font-weight: $h2Font;
        font-size: $h2sizemobile;
        @media (min-width: 991.5px) {
            font-size: $h2desktop;
        }
        @if ($h2Pattern == true) {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                background-image: url(/patterns/pattern-divide.svg);
                background-position: center;
                width: 100%;
                height: 8px;
                top: -35px;
                display: block;
                @media (min-width: 991.5px) {
                    background-position: left;
                }
                background-repeat: no-repeat;
            }
        }
        & + p {
            color: $pClr;
            line-height: 1.8;
            font-size: $psizemobile;
            @media (min-width: 991.5px) {
                font-size: $psizeDesktop;
            }
            @if ($linkStatus == true) {
                & + a {
                    @include make-main-link(
                        $linkbg,
                        $linkAffterBg,
                        $linkClr,
                        $linkHoverClr
                    );
                }
            }
        }
    }
}

@mixin Make-main-section-pattern($dir, $topOrBottom, $prec, $width) {
    content: "";
    position: absolute;
    width: $width;
    height: 300px;
    @if ($topOrBottom == top) {
        top: $prec;
    } @else {
        bottom: $prec;
    }
    background-color: var(--color-border);
    @if ($dir == left) {
        border-top-right-radius: 5rem;
        left: 0;
    }
    @if ($dir == right) {
        border-top-left-radius: 5rem;
        right: 0;
    }
}

@mixin desktop-h2-p-width($width) {
    > h2,
    p {
        width: $width;
    }
}

@mixin make-image-pattern(
    $image,
    $width,
    $height,
    $topOrBottom,
    $Yperc,
    $leftOrRight,
    $Xperc,
    $YpercDesktop,
    $XpercDesktop
) {
    & {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: $width;
            height: $height;
            background-image: url($image);
            background-repeat: no-repeat;
            z-index: 2111;
            @if ($topOrBottom == top) {
                top: $Yperc;
            } @else {
                bottom: $Yperc;
            }
            @if ($leftOrRight == left) {
                left: $Xperc;
            } @else {
                right: $Xperc;
            }
            display: none;
            @media (min-width: 575.5px) {
                display: block;
            }
            @media (min-width: 991.5px) {
                @if ($topOrBottom == top) {
                    top: $YpercDesktop;
                } @else {
                    bottom: $YpercDesktop;
                }
                @if ($leftOrRight == left) {
                    left: $XpercDesktop;
                } @else {
                    right: $XpercDesktop;
                }
            }
        }
    }
}
@mixin make-global-style-sec {
    position: relative;
    .container {
        @include make-flex(false, center);
        flex-direction: column;
        row-gap: 5rem;
        @media (min-width: 991.5px) {
            flex-direction: row;
            column-gap: 10rem;
            > * {
                flex: 50%;
            }
        }
        position: relative;
        z-index: 10000;

        > article {
            @include make-flex(false, center);
            flex-direction: column;
            text-align: center;
            row-gap: 20px;
            @media (min-width: 991.5px) {
                text-align: left;
                @include make-flex(center, none);
            }
            @include Make-main-article(
                2rem,
                3vw,
                var(--color-cod-gray),
                700,
                true,
                1.22rem,
                1.2555rem,
                var(--color-cod-gray),
                false
            );
            & {
                @media (min-width: 991.5px) {
                    text-align: left;
                    @include desktop-h2-p-width(70%);
                }
            }
        }
    }
}
